In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading csv file

In [5]:
df = pd.read_csv('clean_googleplaystore_user_reviews.csv')
df

,App,Translated_Review
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...
1,10 Best Foods for You,This help eating healthy exercise regular basis
2,10 Best Foods for You,NOREVIEW
3,10 Best Foods for You,Works great especially going grocery store
4,10 Best Foods for You,Best idea us
...,...,...
41705,Housing-Real Estate & Property,NOREVIEW
41706,Housing-Real Estate & Property,NOREVIEW
41707,Housing-Real Estate & Property,NOREVIEW
41708,Housing-Real Estate & Property,NOREVIEW
41709,Housing-Real Estate & Property,NOREVIEW

# Installing Afinn Module for creating sentimental score for the above data

In [6]:
!pip install Afinn

Requirement already satisfied: Afinn in c:\users\dbsom-l490-24\anaconda\lib\site-packages (0.1)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
df_review = pd.read_csv("clean_googleplaystore_user_reviews.csv")
df_review=df_review[['App','Translated_Review']]
df_review['Translated_Review'].isnull().sum()

0

In [9]:
df_review.shape

(41710, 2)

In [10]:
df_review.Translated_Review.dtype

dtype('O')

In [11]:
from afinn import Afinn
af = Afinn()

# Compute sentiment scores and categories
sentiment_scores = [af.score(str(text)) for text in df_review.Translated_Review]
sentiment_category = ['positive' if score > 0 else 'negative' if score < 0 else 'neutral' for score in sentiment_scores]
df = pd.DataFrame([sentiment_scores, sentiment_category]).T # .T: swap rows and cols
df.columns = ['sentiment_score', 'sentiment_category']

In [12]:
df_review  = pd.concat([df_review, df], axis=1)
df_review

,App,Translated_Review,sentiment_score,sentiment_category
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,13.0,positive
1,10 Best Foods for You,This help eating healthy exercise regular basis,4.0,positive
2,10 Best Foods for You,NOREVIEW,0.0,neutral
3,10 Best Foods for You,Works great especially going grocery store,3.0,positive
4,10 Best Foods for You,Best idea us,3.0,positive
...,...,...,...,...
41705,Housing-Real Estate & Property,NOREVIEW,0.0,neutral
41706,Housing-Real Estate & Property,NOREVIEW,0.0,neutral
41707,Housing-Real Estate & Property,NOREVIEW,0.0,neutral
41708,Housing-Real Estate & Property,NOREVIEW,0.0,neutral
41709,Housing-Real Estate & Property,NOREVIEW,0.0,neutral