In [2]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
df=pd.read_csv("cleaned_googleplaystore.csv")
df.head(2)

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone,Art & Design
1,1,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone,Art & Design

##  Project for week 4

1-Find if there is a correlation between the price of the apps 
and the Content Rating (Teen, Everyone, Mature. etc).

In [3]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults Only 18+', 'Unrated'], dtype=object)

In [4]:
df[['Category','Content Rating','Type','Price']].query("Type=='Paid'").groupby('Content Rating').agg('mean')

                    Price
Content Rating
Everyone        14.900214
Everyone 10+     4.506452
Mature 17+       6.476667
Teen            13.907556